<ion-view view-title="<img class='title-image' src='img/logo.png' />">
  <ion-content>
    <button ng-click="getLocation();">get location tweet</button>
    <ion-list>
      <ion-item ng-repeat="feed in feeds track by $index" href="#/app/playlists/{{playlist.id}}" class="feeds">

 	<div class="feed">
  		<div class="item item-avatar">
      
        <img ng-src={{feed.user.profile_image}} ng-click="gotoprofile(feed.id);">
    		<h2 ng-click="gotoprofile(feed.id);">{{feed.user.name}}</h2>

        <div class="location">
    			<span class="ion-location"></span><span>{{feed.location}}</span>
    		</div>
        <p am-time-ago="feed.time"></p> 
    	<!--	<p>{{feed.time | datetime}}</p>-->
    		 <div style="clear:both"></div>
    		 <p class="feed-text">{{feed.text}} </p>
  		</div>
	</div>
	<div class="feed-content">
    	<img ng-src={{feed.image}}>
    </div>
    <div class="feed-action">
    	<span class="ion-thumbsup"></span>
    </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


