<ion-view view-title="Settings">
  <ion-content>
    <ul class="list">

  <li class="item item-toggle">
     Link Instagram
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     Link Twitter
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li>
  	<button class="button button-full button-assertive" ng-click="logout();">
  		Logout
	</button>
  </li>
</ul>
  </ion-content>
</ion-view>
