.feed .item {
	border-width: 0;
}
.location {
	font-size: 20px;
	float: right;
}
.ion-location + span {
	padding-left: 5px;
	font-size: 15px;
}
.feed-content img{
	width: 100%;
	height: auto;
}

@media only screen and (max-width: 768px) {
	.feeds.item-complex .item-content{
		padding: 0 !important;
	}
}

.feed-text {
	margin-top: 10px;
}

.feed-action {
	margin: 10px;
	margin-left: 20px;
}

.feed-action .ion-thumbsup {
	font-size: 25px;
}